# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Backup files
*.bak
*.swp

# Python files
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# MySQL temporary files
*.sql.bak